<h1>StaticPages#home</h1>
<div>
  <h2>最新の動画</h2>
  <% if @movies.any? %>
    <ol>
      <%= render @movies %>
    </ol>
  <% end %>
  <%= link_to "もっと見る", movies_path %>
</div>
<div>
  <% if @popular_movies.any? %>
    <h2>人気の動画</h2>
    <ol>
      <%= render @popular_movies %>
    </ol>
    <%= link_to "もっと見る", day_movies_path %>
  <% end %>
</div>
