<% provide(:title, 'ログイン') %>
<h1>Sessions#new</h1>

<div>
  <%= form_for(:session, url: login_path) do |f| %>
    
    <div>
    <%= f.label :name, "アカウント名" %>
    <%= f.text_field :name %>
    </div>
    
    <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
    </div>
    
    <div>
    <%= f.submit "ログイン", class: "btn" %>
    </div>
    
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      <span>ログイン情報をしばらくの間記録する</span>
    <% end %>
    
    <p><%= link_to "今すぐ登録する（無料）", signup_path %></p>
  <% end %>
</div>
