<div id="favorite_form<%= @movie.id %>">
  <% if current_user.favorites.include?(@movie) %>
    <%= render 'movies/remove_favorite' %>
  <% else %>
    <%= render 'movies/add_favorite' %>
  <% end %>
</div>