<% @movie = movie if movie %>
<li>
  <%= link_to movie.title, movie %>　：　<%= movie.created_at %>に<%= link_to movie.user.name, movie.user %>が追加。<%= render 'movies/favorite_form' if logged_in? %>
  <% if current_user && current_user.admin? %>
    <%= link_to "delete", movie, method: :delete, data: { confirm: "#{movie.title}を削除してもよろしいですか？" } %>
  <% end %>
</li>