<%= form_for(current_user.favorite_movies.find_by(movie_id: @movie.id), html: { method: :delete }, remote: true) do |f| %>
  <%= hidden_field_tag :movie_id, @movie.id %>
  <%= f.submit "お気に入りから削除", class: "btn" %>
<% end %>