<h1><%= @movie.title %></h1>
<video id="test_video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup="{}" width="640" height="480">
  <source src="/satuki_ts/satuki.m3u8" type="application/x-mpegURL">
</video>
<div>
  <p>再生数： <%= @movie.play_count %></p>
  <%= render 'favorite_form' if logged_in? %>
  <p><%= link_to @movie.user.name, user_path(@movie.user) %>が<%= @movie.created_at %>に追加しました。</p>
</div>