<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "BAN!", user, method: :delete, data: { confirm: "#{user.name}を削除してよろしいですか？" } %>
  <% end %>
</li>