<%= provide(:title, 'パスワードの変更') %>
<h1>Users#edit@<%= @user.name %></h1>

<div>
  <%= form_for(@user) do |f| %>
    <%= render partial: 'shared/error_messages', locals: {obj: @user} %>
    
    <div>
    <%= f.label :password, "新しいパスワード" %>
    <%= f.password_field :password %>
    </div>
    
    <div>
    <%= f.label :password_confirmation, "再入力" %>
    <%= f.password_field :password_confirmation %>
    </div>
    
    <div>
    <%= f.label :old_password, "今までのパスワード" %>
    <%= f.password_field :old_password %>
    </div>
    
    <div>
    <%= f.submit "変更を保存する", class: "btn" %>
    </div>
  <% end %>
</div>