<% provide(:title, "お気に入り動画") %>
<h1>お気に入り動画</h1>
<%= render 'shared/user_stats' if current_user?(@user) %>
<div>
  <ul>
    <li><%= link_to "ユーザートップ", @user %></li>
    <li><%= link_to "フォローユーザーの動画", following_movies_user_path(@user) %></li>
  </ul>
  <h2><%= @movies.count %>個の動画</h2>
  <div><%= link_to "フォルダーを作成", new_favorite_folder_url %></div>
  <div><%= link_to("動画を他のフォルダーに移動", folder_edit_user_url(folder_id: @folder_id)) if @movies.any? %></div>
  <%= render partial: 'favorite_folders/folders', locals: {folders: @folders} if @folders.any? %>
  <%= render 'movie_list' %>
</div>