<% provide(:title, "お気に入り動画を整理") %>
<h1>お気に入り動画を整理</h1>
<div>
  <h2><%= @favorite_movies.count %>個の動画</h2>
  <%= render partial: 'favorite_movies/move_to_folder', locals: {favorite_movies: @favorite_movies} if @favorite_movies.any? %>
</div>