<% provide(:title, "フォローユーザーの動画") %>
<h1><%= @user.name %></h1>
<%= render 'shared/user_stats' if current_user?(@user) %>
<div>
  <ul>
    <li><%= link_to "ユーザートップ", @user %></li>
    <li><%= link_to "お気に入り動画", favorites_user_path(@user) %></li>
  </ul>
  <h2>フォローユーザーの動画： <%= @movies.count %></h2>
  <%= render 'movie_list' %>
</div>