<% provide(:title, @title) %>
<h1><%= @user.name %></h1>
<%= render 'shared/user_stats' if current_user?(@user) %>
 <div>
  <ul>
    <li><%= link_to "ユーザートップ", @user %></li>
    <li><%= link_to "お気に入り動画", favorites_user_path(@user) %></li>
    <li><%= link_to "フォローユーザーの動画", following_movies_user_path(@user) %></li>
  </ul>
  <h2><%= @title %></h2>
  <% if @users.any? %>
    <ul>
      <%= render @users %>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>