<%= provide(:title, 'Sign up') %>
<h1>Users#new</h1>

<div>
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render partial: 'shared/error_messages', locals: {obj: @user} %>
    
    <div>
    <%= f.label :name, "アカウント名" %>
    <%= f.text_field :name %>
    </div>
    
    <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
    </div>
    
    <div>
    <%= f.label :password_confirmation, "再入力" %>
    <%= f.password_field :password_confirmation %>
    </div>
    
    <div>
    <%= f.submit "この内容で登録する", class: "btn" %>
    </div>
  <% end %>
</div>
