<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<%= render 'follow_form' if logged_in? %>
<%= render 'shared/user_stats' if current_user?(@user) %>
<div>
  <ul>
    <li><%= link_to "お気に入り動画", favorites_user_path(@user) %></li>
    <li><%= link_to "フォローユーザーの動画", following_movies_user_path(@user) %></li>
  </ul>
  <h2>今までに追加した動画： <%= @user.movies.count %></h2>
  <%= render 'movie_list' %>
</div>