<% @user ||= current_user %>
<div>
  <a href="<%= following_user_path(@user) %>">
    フォロー： <%= @user.following.count %>人
  </a>
  <a href="<%= followers_user_path(@user) %>">
    フォロワー： <%= @user.followers.count %>人
  </a>
</div>