<%= form_tag update_for_favorite_movies_url, method: :patch do %>
  <%= hidden_field_tag 'favorite_movie[]' %>
  
  <%= select_tag :folder_id , options_for_select(@favorite_folder_array) %>
  
  <% if favorite_movies.any? %>
    <ol>
    <% favorite_movies.each do |favorite_movie| %>
      <li>
        <%= label_tag "favorite_movie_#{favorite_movie.id}", favorite_movie.movie.title %> <%= check_box_tag 'favorite_movie_ids[]', favorite_movie.id, checked = false, id: "favorite_movie_#{favorite_movie.id}" %>
      </li>
    <% end %>
    </ol>
    <%= submit_tag "フォルダに移動" %>
    <div><%= link_to "戻る", favorites_user_url(current_user, folder_id: @folder_id) %></div>
    <%= will_paginate favorite_movies %>
  <% end %>
<% end %>