@mixin border_box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

li {
  list-style: none;
}

.base {
  max-width: 1050px;
  margin: 0 auto;
}

.alert {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid;
  border-radius: 3px;
  &._success {
    border-color: #3c3;
    background: #efe;
    color: #3c3;
  }
  &._danger {
    border-color: #c33;
    background: #fee;
    color: #c33;
  }
}

.debug_dump {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid #666;
  border-radius: 3px;
  background: #eee;
  @include border_box_sizing;
}

.error_explanation {
  padding: 1em;
  border-radius: 3px;
  color: #c33;
  background: #fee;
}

.field_with_errors input {
  border-color: #c33;
}