<ul>
<% if @folder_id %>
  <li><%= link_to "分類されていない動画", favorites_user_url(current_user, folder_id: nil) %></li>
<% end %>
<% folders.each do |folder| %>
  <% next if (folder.id == @folder_id.to_i) %>
  <li><%= link_to folder.name, favorites_user_url(current_user, folder_id: folder) %> : <%= link_to "編集", edit_favorite_folder_url(folder) %></li>
<% end %>
</ul>