<h1>FavoriteFolders#edit</h1>

<div>
  <%= form_for(@folder) do |f| %>
    <%= render partial: 'shared/error_messages', locals: {obj: @folder} %>
    
    <div>
    <%= f.label :name, "フォルダー名" %>
    <%= f.text_field :name %>
    </div>
    
    <div>
    <%= f.submit "OK", class: "btn" %>
    </div>
  <% end %>
  
  <%= form_for(@folder, html: { method: :delete }) do |f| %>
    <div>
    <%= f.submit "削除", class: "btn", data: { confirm: "#{@folder.name}を削除してよろしいですか？"} %>
    </div>
  <% end %>
</div>