<h1>FavoriteFolders#new</h1>

<div>
  <%= form_for(@folder) do |f| %>
    <%= render partial: 'shared/error_messages', locals: {obj: @folder} %>
    
    <div>
    <%= f.label :name, "フォルダー名" %>
    <%= f.text_field :name %>
    </div>
    
    <div>
    <%= f.submit "OK", class: "btn" %>
    </div>
  <% end %>
</div>