<header>
  <%= link_to "Adult Link Site", root_path, class: "logo" %>
  <ul class="nav">
    <% if logged_in? %>
      <li><%= link_to "アカウント", current_user %></li>
      <li><%= link_to "パスワードの変更", edit_user_path(current_user) %></li>
      <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "新規登録（無料）", signup_path %></li>
      <li><%= link_to "ログイン", login_path %></li>
    <% end %>
  </ul>
  <%= form_tag search_path, method: :get do %>
    <div>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "検索する", name: nil %>
    </div>
  <% end %>
</header>